body {
    margin: auto;
    width: 100%;
    height: auto;
    background: white;
}
h1, h2, h3, p {
    margin: 0;
    font-family: 'New Tegomin', serif;
}
h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    text-align: center;
}

h3 {
    font-size: 18px;
}
p {
    text-indent: 2%;
    font-size: 16px;
    color:black;
    text-align: center;
}
img {
    background-repeat: no-repeat;
    background-position: center;
}

.title-contain {
    padding: 0% 10% 0% 10%;
    margin: auto;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 823px;
    background-image:url("https://media.discordapp.net/attachments/805709628515680266/837967760968646666/Pngtreethe_sun_shines_on_the_6063362.png?width=674&height=674");
    background-repeat: no-repeat;
    background-size:cover;
    animation:ocean 7s ease infinite alternate;
}
@keyframes ocean {
    0%{background-color:#042836;}
    25%{background-color:#0c6885;}
    50%{background-color:#878385;}
    75%{background-color:#6bc7d6;}
    100%{background-color:#0a5b7c;}
}

.children{
    height:480px;
    text-align: center;
    justify-content:center;
}

.title-button {
    display: block;
    padding: 16px;
    margin-top: 16px;
    width: 60%;
    text-align: center;
    background: yellowgreen;
    cursor: pointer;
    border-radius: 10px;
}
.title-button:hover{
    background: #154c79;
    color:white;
}


.line {
    width: 80%;
    background:hsl(211, 79%, 58%, 60%);
    height: 4px;
    border-radius: 2px;
    margin: 5% 10% 5% 10%;
    animation: slide 4s infinite alternate linear;
}

@keyframes slide {
    to{
        transform:translateY(16px);
    }
}

.material-content1 { /*จองพื้นที่content1ปัญหาพลาสติก*/
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid teal;
    background-color: beige;
}

.material-content2 { /*จองพื้นที่content2ทำไมต้องเป็นเยาวชน*/
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid red;
    background-color: white;
}

.material-content3 { /*จองพื้นที่content2ทำไมต้องเป็นเยาวชน*/
    position: relative;
    width: 100%;
    height: 250%;
    border: 3px solid pink;
    background-color: white;
}

.column-text-contain {
    height: 79%;
    width: 100%;
    border: 3px solid rgb(218, 156, 156);
}
.column-text {
    word-wrap: break-word;
    float: left;
    padding: 1.665%;
    width: 46%;
    height: 80%;
    background: white;
    overflow:auto;
    border: 3px solid yellow;
}

/*-----------------------------------*/
/*ช่องในการใส่รูปต่างๆในหัวข้อปัญหาพลาสติก*/
.picture-contain1 { /*ช่องก๊าซเรือนกระจก*/
    position: absolute;
    left: 5px;
    top: 260px;
    width: 30%;
    height: 60%;
    border: 3px solid blue;
}
.picture-contain2 { /*ช่องมลลพิษ*/
    position: absolute;
    left: 35%;
    top: 260px;
    width: 30%;
    height: 60%;
    border: 3px solid blue;
}
.picture-contain3 { /*ช่องสัตว์อื่นๆ*/
    position: absolute;
    left: 69%;
    top: 260px;
    width: 30%;
    height: 60%;
    border: 3px solid blue;
}
/*จบหัวข้อปัญหาพลาสติก*/
/*-----------------------------------*/

/*-----------------------------------*/
/*ช่องในการใส่รูปต่างๆของเหตุการณ์เยาวชน*/
.picture-contain4 { /*ค่าย Youth Wavemakers*/
    position: absolute;
    top: 260px;
    width: 100%;
    height: 27%;
    border: 3px solid blue;
}
.picture-contain5 { /*เยาวชนรวมตัวกันเพื่อเก็บขยะ*/
    position: absolute;
    top: 43.4%;
    width: 100%;
    height: 27%;
    border: 3px solid rgb(55, 224, 83);
}
.picture-contain6 { /*นักเรียนไทยคว้ารางวัลออกแบบ*/
    position: absolute;
    top: 72.7%;
    width: 100%;
    height: 27%;
    border: 3px solid rgb(236, 78, 131);
}
/*จบหัวข้อเหตุการณ์เยาวชน*/
/*-----------------------------------*/

/*ขนาดรูป*/
.picture-material {
    width: 50%;
    background-size: 20%;
    padding-right: 30px;
    margin: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.material-contain-2 {
    padding: 5%;
    margin: auto;
    width: 90%;
    height: auto;
    background:white;
}
