html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    right: 0;
    top:200px;
    height: 100vh;
    padding: 2em;
    background: transparent;
    color: white;
    z-index: 1;
}

nav a {
    display:block;
    margin: 3em 0;
}


body {
    margin: auto;
    width: 100%;
    height: auto;
    background: white;
}

.tiptext{
    position: relative;
    display: inline-block;
    visibility: hidden;
    background-color: black;
    color: white;
    text-align:center;
    border-radius:6px;
    right:230px;
    width:200px;
    font-size: 15px;
}

.btn:hover .tiptext{
    visibility: visible;
}

h1, h2, h3, p, h4 {
    margin: 0;
    font-family: 'New Tegomin', serif;
    font-family: 'Prompt', sans-serif;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 18px;
}
p {
    text-indent: 2%;
    font-size: 14px;
    color:black;
}
img {
    background-repeat: no-repeat;
    background-position: center;
}

.btn{
    background-color: skyblue;
    border: skyblue 1.5px solid;
    width:20px;
    height:20px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

.btn:hover{
    background-color: white;
}

.title-contain {
    padding: 0% 10% 0% 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 900px;
    background-image:url("https://media.discordapp.net/attachments/805709628515680266/837967760968646666/Pngtreethe_sun_shines_on_the_6063362.png?width=674&height=674");
    background-repeat: no-repeat;
    background-size:cover;
    animation:ocean 7s ease infinite alternate;
    flex-direction: column;
}

@keyframes color-change{
    0%{color:#ffffff;}
    25%{color:#e9f5f9;}
    50%{color:#92cbdf;}
    75%{color:#51abcb;}
    100%{color:#2596be;}
}

.all-cards{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
    margin: 20px;
}

.face{
    width: 400px;
    height: 200px;
    transition: 0.5s;
}

.face1{
    position: relative;
    display: flex;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face.face1{
    transform: translateY(0);
}

.face2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.card:hover .face.face2{
    transform: translateY(0);
}

.content p{
    margin: 0;
    padding: 0;
}

.content a{
    margin: 15px 0 0;
    display: inline-block;
    font-weight: 900;
    color: white;
    padding: 5px;
    border: 1px solid white;
}

.content a:hover{
    background: white;
    color: black;
}



.title-contain h1{
    font-size: 70px;
    color: white;
}

.title-contain p{
    font-size: 28px;
    color: white;
}

@keyframes ocean {
    0%{background-color:#042836;}
    25%{background-color:#0c6885;}
    50%{background-color:#878385;}
    75%{background-color:#6bc7d6;}
    100%{background-color:#0a5b7c;}
}

.children{
    height:480px;
    text-align: center;
    justify-content:center;
}

.title-button {
    display: block;
    padding: 16px;
    margin-top: 16px;
    width: 60%;
    text-align: center;
    background: hsl(80, 61%, 50%);
    cursor: pointer;
    border-radius: 10px;
}

.read-more{
    display:block;
    width: 50%;
    background:hsl(80, 61%, 50%);
    padding: 10px;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.read-more:hover{
    background:hsl(80, 100%, 50%);
}

.join-button{
    display:block;
    text-align: center;
    margin-top:30px;
    padding:20px;
    cursor:pointer;
    border-radius:10px;
    background:hsl(80, 61%, 50%);
    width:30%;
}

.join-button:hover{
    background:hsl(80, 100%, 50%)
}

a{
    text-decoration: none;
    color:black;
}

.title-button:hover{
    background: #154c79;
    color:white;
}


.line {
    width: 80%;
    background:hsl(211, 79%, 58%, 60%);
    height: 4px;
    border-radius: 2px;
    margin: 5% 10% 5% 10%;
    animation: slide 4s infinite alternate linear;
}

@keyframes slide {
    to{
        transform:translateY(16px);
    }
}

.three-contain{
    width:100%;
    height:100%;
    background:red;
}

.material-contain-1 {
    padding: 5%;
    margin: auto;
    width: 80%;
    height: 600px;
    /* background-image:url("https://www.nicepng.com/png/full/49-498173_gradient-background-png-website-background-image-png.png"); */
    background-repeat:no-repeat;
    border-radius: 10px;
    background-size:cover;
}

.material-contain-1 p{
    font-size: 22px;
    font-weight: bold;
}

.column-text-contain {
    height: 240px;
    width: 100%;
}

.column-text {
    display: block;
    word-wrap: break-word;
    float: left;
    padding: 1.665%;
    width: 30%;
    height: auto;
    background: white;
    overflow:auto;
}
.picture-contain {
    width: 100%;
    height: 360px;
}
.picture-material {
    float: left;
    width: 20%;
    margin: 2.5%;
    background-size: 20%;
    background: green;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.material-contain-2 {
    padding: 5%;
    margin: auto;
    width: 90%;
    height: auto;
    background:white;
}

.material-contain-2 p{
    font-size: 20px;
    font-weight: bold;
}
